@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/skel";

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.dialog-wrapper {
	max-height: 60vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.dialog-fix { 
	flex-grow: 1;
}

.dialog-intro {
	overflow: auto;
}

@include skel-breakpoints(
	(
		xlarge: "(max-width: 1680px)",
		large: "(max-width: 1280px)",
		medium: "(max-width: 980px)",
		small: "(max-width: 736px)",
		xsmall: "(max-width: 480px)",
		xxsmall: "(max-width: 360px)",
	)
);

@include skel-layout(
	(
		reset: "full",
		boxModel: "border",
	)
);


@import "base/page";
@import "base/typography";

// Component.

@import "components/form";
@import "components/box";
@import "components/icon";
@import "components/image";
@import "components/list";
@import "components/table";
@import "components/button";

// Layout.

@import "layout/bg";
@import "layout/wrapper";
@import "layout/header";
@import "layout/main";
@import "layout/footer";
